<div class="container">
  <app-cockpit 
  (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDeleteFirst()">Change First Element</button>
      @for (server of serverElements; track server.name) {
        <app-server [name]="server.name" [serverElem]="server">
          <p #contentParagraph>
            
            @if(server?.type === 'server') {
                <strong style="color: red">{{server?.content}}</strong>    
            }

            @if(server?.type === 'blueprint') {
                <em style="color: blue"> {{server?.content}} </em>    
            }
          </p>
        </app-server>
      }
    </div>
  </div>
</div>
